
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Upload</title>
</head>
<body>
    <form id = "id_form" method = "post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.img }}
        </br>
        </br>
        <button type = "button" onclick ="process()">Upload</button>
    </form>
    <div>
        <img id = "input"/>
    </div>
    <div>
        <h3 id = "h3a" style = "display:none;">720p</h3><br>
        <img id = "output"/>
    </div>
    <div >
        <h3 id = "h3b" style = "display:none;">480p</h3><br>
        <img id = "output2"/>
    </div>
    <div>
        <h3 id = "h3c" style = "display:none;">360p</h3><br>
        <img id = "output3"/>
    </div>

    <!-- https://www.youtube.com/watch?v=bXf_UdyDzSA&ab_channel=CodingShikshaCodingShiksha -->
    <!-- code for this script was based off this video, updated to work with multiple image files -->
    <script>
        function process(){
        const file = document.querySelector("#id_img").files[0];
        if(!file) return;
        
        const reader = new FileReader();
    
        reader.readAsDataURL(file);
    
        reader.onload = function(event){
            const imgElement = document.createElement("img");
            const imgElement2 = document.createElement("img");
            const imgElement3 = document.createElement("img");

            imgElement.src = event.target.result;
            imgElement2.src = event.target.result;
            imgElement3.src = event.target.result;
            
            document.querySelector("#input").src = event.target.result;

            imgElement.onload = function(e){
                const canvas = document.createElement("canvas");
                
                // resizing to 720p
                const MAX_WIDTH = 1280;
                const scaleSize = MAX_WIDTH / e.target.width;
                canvas.width = MAX_WIDTH;
                canvas.height = e.target.height * scaleSize;
                //output 720p image
                const ctx = canvas.getContext('2d');
                ctx.drawImage(e.target, 0, 0, canvas.width, canvas.height);
                const srcEncoded = ctx.canvas.toDataURL(e.target, "image/png");
                document.querySelector("#output").src = srcEncoded;
                document.getElementById("h3a").style.display = "inline";
                console.log(srcEncoded);
            };
            imgElement2.onload = function(e){
                
                const canvas = document.createElement("canvas");
                
                // resizing to 480p
                const MAX_WIDTH = 854;
                const scaleSize = MAX_WIDTH / e.target.width;
                canvas.width = MAX_WIDTH;
                canvas.height = e.target.height * scaleSize;
                //output 480p image
                const ctx = canvas.getContext('2d');
                ctx.drawImage(e.target, 0, 0, canvas.width, canvas.height);
                const srcEncoded = ctx.canvas.toDataURL(e.target, "image/png");
                document.querySelector("#output2").src = srcEncoded;

                document.getElementById("h3b").style.display = "inline";

            };
            imgElement3.onload = function(e){
                
                const canvas = document.createElement("canvas");
                
                // resizing to 320p
                const MAX_WIDTH = 640;
                const scaleSize = MAX_WIDTH / e.target.width;
                canvas.width = MAX_WIDTH;
                canvas.height = e.target.height * scaleSize;
                //output 320p image
                const ctx = canvas.getContext('2d');
                ctx.drawImage(e.target, 0, 0, canvas.width, canvas.height);
                const srcEncoded = ctx.canvas.toDataURL(e.target, "image/png");
                document.querySelector("#output3").src = srcEncoded;
                
                document.getElementById("h3c").style.display = "inline";

            };
        }
        
        }
    </script>
</body>
</html>