
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Upload</title>
</head>
<body>
    <form method = "post" enctype="multipart/form-data">
        <!-- {% csrf_token %}
        {{ form.img }} -->
        <input type="file" name="img" accept="image/*" required="" id="id_img">
        </br>
        </br>
        <button type = "button" onclick ="process()">Upload</button>
    </form>
    <div>
        <img id = "input"/>
    </div>

    <div>
        <img id = "output"/>
    </div>
    <script>
        function process(){
        // console.log("I'm connected");
        const file = document.querySelector("#id_img").files[0];
        if(!file) return;
    
        const reader = new FileReader();
    
        reader.readAsDataURL(file);
    
        reader.onload = function(event){
            const imgElement = document.createElement("img");
            imgElement.src = event.target.result;
            document.querySelector("#input").src = event.target.result;
            imgElement.onload = function(e){
                const canvas = document.createElement("canvas");
                const MAX_WIDTH = 10000;

                const scaleSize = MAX_WIDTH / e.target.width;
                canvas.width = MAX_WIDTH;
                canvas.height = e.target.height * scaleSize;

                const ctx = canvas.getContext('2d');
                ctx.drawImage(e.target, 0, 0, canvas.width, canvas.height);
                const srcEncoded = ctx.canvas.toDataURL(e.target, "image/png");

                document.querySelector("#output").src = srcEncoded;
            };
        }
        
        }
    </script>
</body>
</html>